/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

// Definitions
$my-accent-color: #c00000;
$my-accent-bg: #fffbfb;
$my-text-color: #404040;
$my-secondary-text-color: rgba(0, 0, 0, 0.6);
$my-title-font: "Noto Serif", serif;
$my-body-font: "Noto Sans", sans-serif;

// General
$link-color: $my-accent-color;

// Headings
$headings-font-family: $my-title-font;
$headings-font-weight: 500 !important;
$headings-color: $my-accent-color;

// Body
$font-family-sans-serif: $my-body-font;
.description {
  color: $my-text-color;
}

// Code
$font-family-monospace: "Noto Sans mono", monospace;
$code-block-bg: #fafafa;

// Navbar
$navbar-bg: white;
$navbar-fg: black;
$dropdown-border-color: $my-accent-bg !important;
.navbar {
  letter-spacing: 2px;
  text-transform: uppercase;
}
.nav-link.dropdown-toggle.show:focus-visible {
  outline: 5px solid #f0f0f0 !important;
}
.dropdown-item {
  color: black !important;
}
.dropdown-item:active {
  background-color: white !important;
  color: $my-accent-color !important;
}
.dropdown-menu.dropdown-menu-end.show {
  border-color: #f0f0f0 !important;
  border-width: 2px;
}

// Blog listing
.listing-category {
  padding: .05em .5em;
  margin-right: 2px;
  font-size: .65em;
  text-transform: uppercase;
  border: solid 1px;
  border-radius: .25rem;
  opacity: .6;
  box-sizing: border-box;
  color: $my-accent-color;
  display: inline-block;
}
.listing-date {
  font-size: .8em;
}
/* Adjust the width of the first column (Date) */
.quarto-listing-table td:first-child {
  white-space: nowrap;
  width: 1%;
}

// Blog category cloud
.category-cloud .category {
  margin-right: 5px;
}
.category-cloud .category.active {
  color: $my-accent-color;
}
